{% extends 'Base.html' %}

{% block title %}
{{ article.title }}
{% endblock %}

{% block body %}
<div class="container">
    <h1>{{ article.title }}</h1>

        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic">{{ article.text }}</h1>
      <p class="lead my-3">Дата: {{ article.date.date() }}</p>
        <a href="/posts/{{ article.id }}/del" class="btn btn-danger">Удалить</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-outline-light me-2">Редактировать</a>
    </div>

</div>
{% endblock %}